pkgbase = mpplus-bliss
	pkgdesc = Analyze MPD library songs and create smart MPD playlists based on similarity
	pkgver = v1.0.0r1
	pkgrel = 1
	url = https://github.com/doctorfree/mpplus-bliss
	install = mpplus-bliss.install
	arch = x86_64
	arch = armv7h
	license = GPL3
	makedepends = cargo
	makedepends = git
	makedepends = pandoc
	makedepends = zip
	depends = ffmpeg4.4
	depends = clang
	depends = sqlite
	source = mpplus-bliss::git+https://github.com/doctorfree/mpplus-bliss.git
	sha256sums = SKIP

pkgname = mpplus-bliss
