pkgbase = mpplus-bliss
	pkgdesc = Blissify and Bliss-Analyze analyze and make playlists of MPD library songs that sound alike
	pkgver = v1.0.1r2
	pkgrel = 1
	url = https://github.com/doctorfree/mpplus-bliss
	install = mpplus-bliss.install
	arch = x86_64
	arch = armv7h
	license = GPL3
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = pandoc
	makedepends = zip
	depends = ffmpeg4.4
	depends = sqlite
	source = mpplus-bliss::git+https://github.com/doctorfree/mpplus-bliss.git
	sha256sums = SKIP

pkgname = mpplus-bliss
